 {% load static %}
 <script scr="{% static 'script.js' %}"></script>

<a href="{% url 'book-detail' book_id=book.id %}">{{ book.title }}</a><br>
        {{ book.text }}<br>
        <i>{{ book.author.username }}</i><br>
        {{ book.date_publish|date:"d-m-Y" }}<br>
            <i>Rate: {{ book.avg_rate }} </i><br>
            {% for i in '12345' %}
                <a href="{% url 'book_rate' book_id=book.id rate=i redirect_url=redirect_url %}">{{ i }}</a>
            {% endfor %}
       <br><br><hr>
 {% if with_comment%}
     <form action="{% url 'add_comment' book_id=book.id %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment" required name="text"></textarea>
        </div>
        <input type="submit" class="btn btn-dark" value="OK">
    </form><hr><br><br>
    {% for comment in book.comments.all %}
        <p>{{ comment.text }}</p>
        <p> Date: {{ comment.date|date:"d-m-Y-H:i:s" }}</p>
        <p> Author: {{ comment.user.username }}</p>
        <a href="{% url 'comment-like' comment_id=comment.id %}"><p> Likes: {{ comment.count_likes }}</p></a>
    <hr>
    {% endfor %}
 {% endif %}
