 <a href="{% url 'book-detail' book_id=book.id %}">{{ book.title }}</a><br>
        {{ book.text }}<br>
        <i>{{ book.author.username }}</i><br>
        {{ book.date_publish|date:"d-m-Y" }}<br>
        <a href="{% url 'book-like' book_id=book.id %}">
            <i>Likes {{ book.avg_rate }} </i>
        </a><br><br><hr>
 {% if with_comment%}
     <form action="{% url 'add_comment' book_id=book.id redirect_url=redirect_url %}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <label for="comment">Comment:</label>
            <textarea class="form-control" rows="5" id="comment" required name="text"></textarea>
        </div>
        <input type="submit" class="btn btn-dark" value="OK">
    </form><hr><br><br>
    {% for comment in book.comments.all %}
        <p>{{ comment.text }}</p>
        <p> Date: {{ comment.date|date:"d-m-Y-H:i:s" }}</p>
        <p> Author: {{ comment.user.username }}</p>
        <p> Likes: {{ comment.count_likes }}</p>
    <hr>
    {% endfor %}
 {% endif %}