<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1> {{ room.title }} </h1><br>
    Room for {{ room.places_in_room }} person<br>
    {{ room.description }}<br>
    {{ room.count_per_night }} $<br>
    {% if room.is_free == True %}
        Room is free<br>
    {% else %}
        Room is occupied<br>
    {% endif %}
    <a href="{% url 'room_reservation' room_id=room.id %}"><i>Reserv</i> </a><br>
    {% if user.is_superuser == True %}
        <a href="{% url 'owners_add' room_id=room.id %}"><i>Add owner's</i></a><br>
    {% endif %}
    <a href="\hotel\"> Main page </a>


</body>
</html>